# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data = pd.read_csv("cities.csv")
data

,city,lat,lng,temp,humidity,cloudiness,windspeed,country,date
0,Castro,-24.79,-50.01,65.79,59,45,11.70,BR,1600792048
1,Punta Arenas,-53.15,-70.92,45.21,61,40,19.46,CL,1600792048
2,Caravelas,-17.71,-39.25,83.16,62,70,11.32,BR,1600792048
3,Greymouth,-42.47,171.20,53.94,96,100,18.72,NZ,1600792048
4,Kapaa,22.08,-159.32,73.89,74,90,13.87,US,1600792048
...,...,...,...,...,...,...,...,...,...
554,Kropotkin,45.44,40.58,68.85,43,0,8.37,RU,1600792158
555,San Cristobal,7.77,-72.22,89.60,49,40,11.41,VE,1600792158
556,Xinzhou,38.41,112.73,58.89,85,100,2.68,CN,1600792158
557,Eyl,7.98,49.82,77.36,76,57,22.62,SO,1600792158
558,Progreso,21.28,-89.67,91.35,66,40,6.93,MX,1600792158

In [8]:
# A max temperature lower than 80 degrees but higher than 70
# Wind speed less than 10 mph
# Zero cloudiness
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal
# Note: Feel free to adjust to your specifications but be sure to limit the number of 
#      rows returned by your API requests to a reasonable number.

In [ ]:
filt = data["temp"] <= 80 >= 70, data["windspeed"] <=10, data["cloudiness"] == 0

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
locations = data[["lat", "lng"]]
humi = data["humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
humi_layer = gmaps.heatmap_layer(locations, weights=humi)
fig.add_layer(humi_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure